In [1]:
import pandas as pd
import numpy as np
import pickle
import tensorflow as tf
from tensorflow.keras.models import load_model

In [2]:
# load ann trained model
model= load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
with open ("label_encoder_gender.pkl",'rb') as file:
    label_encoder_gender= pickle.load(file)
with open ("onehot_encoder_geo.pkl",'rb') as file:
    one_hot_encoder= pickle.load(file)
with open ("scaler.pkl",'rb') as file:
    scaler= pickle.load(file)

C:\Users\isdcb\anaconda3\Lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator OneHotEncoder from version 1.5.0 when using version 1.5.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [4]:
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000}

In [5]:
geo_encoder=one_hot_encoder.transform([[input_data['Geography']]]).toarray()


import warnings 
warnings.filterwarnings('ignore')

geo_encoded_df=pd.DataFrame(geo_encoder,columns=one_hot_encoder.get_feature_names_out(['Geography']))

C:\Users\isdcb\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [6]:
input_data=pd.DataFrame([input_data])

In [7]:
input_data=pd.concat([input_data.reset_index(drop=True),geo_encoded_df],axis=1)
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [8]:
input_data['Gender']=label_encoder_gender.transform(input_data['Gender'])

In [9]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [10]:
input_df=input_data.drop('Geography',axis=1)

In [11]:
scaler.feature_names_in_

array(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [12]:
input_scaled_df=scaler.transform(input_df)

In [13]:
input_scaled_df

array([[-0.52734407,  0.91186722,  0.11433705, -0.69751786, -0.25618485,
         0.78890943,  0.63858419,  0.9530986 , -0.85001902,  0.98084999,
        -0.56605877, -0.57375783]])

In [15]:
prediction=model.predict(input_scaled_df)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 52ms/step

In [16]:
if prediction[0][0]>0.5:
    print('the custmor is likely to churn.')
else:
    print('the custmor is  not likely to churn.')

the custmor is  not likely to churn.